<div class="test">
	<div class="col-md-8">
		<h3> About Mango's core database </h3>

		<p> This is the core database for Mango.  It contains many features such as hour's logging,
			task creation and submission, and finding employees.  It also serves as an area to just
			play around with the rails framework.
		</p>

	</div>
</div>