<div id="homeText" class = "jumbotron">
	<h1> About This Application! </h1> <br>

	<p> This is the basic internal database for Mango, currently you can view assigned tasks, create tasks, and close open tasks with the number of hours it took you to complete.  </p>
	<p> Future features include comments on the tasks, teams with team tasks, user profiles, and a search feature for all company employee's.</p>

	<p> Feature recomendations?  Talk to the dev team! </p>

	<%= link_to "Your tasks >>", tasks_path, class: "btn btn-primary btn-lg" %>
</div>