<div class = "row">
	<div class= "col-md-12">
		<%= link_to "New Task", new_task_path, id: "new_link", remote: true %>
	</div>
  <div id="open-tasks" class = "col-md-7">
  	<h2> Open Tasks </h2>
  	<table class="table" id="open-table">
  		<thead>
		    <tr>
		      <th> # </th>
		      <th> Title </th>
		      <th> Assigned By </th>
		      <th> Due Date </th>
		      <th> View </th>
		      <th> Complete </th>
		      <th> Edit </th>
		      <th> Destroy <th>
		    </tr>
		</thead>
		<tbody>
   			<%= render @open_tasks %>
   		</tbody>
   	</table>
  </div>
  <div id="unopened-tasks" class = "col-md-5">
  	<h2> Assigned Tasks </h2>
  	<table class="table">
  		<thead>
		    <tr>
		      <th> # </th>
		      <th> Title </th>
		      <th> Assigned By </th>
		      <th> Due Date </th>
		      <th> View </th>
		      <th> Complete </th>
		    </tr>
		</thead>
		<tbody>
   			<%= render @unopened_tasks %>
	   </tbody>
	</table>
  </div>
</div>