<%= simple_form_for(@log_hour) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hours %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
