<%= simple_form_for(@log_hour) do |f| %>
  <%= f.error_notification %>

  <div class="col-md-4">
    <%= f.input :hours %>
  </div>

  <div class="col-md-2 complete">
    <%= f.button :submit %>
  </div>
<% end %>
