<h1>Listing Hours</h1>

<table>
  <thead>
    <tr>
      <th>Hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @log_hours.each do |log_hour| %>
      <tr>
        <td><%= log_hour.hours %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log hour', new_log_hour_path %>
